
body, * {
    margin: 0;
    padding: 0;;
}
body {
    background: #FF7400;
    padding: 40px 20px;
    font-size: 14px;
    font-family: "Montseratt", sans-serif;
}
a {
    color:#fff;
    text-decoration: none;
}