.cart {
    display: flex;
    align-items: center;
    background: #5E4BD8;
    padding: 5px 15px 3px;
    border-radius: 18px;
    position: relative;
    &__link {
        display: flex;
        align-items: center;
    }
    &__image {
        position: relative;
        width: 28px;
        height: 28px;
    }
    &__price {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }
    
}