.b-category {
    max-width: 400px;
    @media screen and (max-width: 500px) {
        display: none;
    }
    .category {
        &__list {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
        &__item {
            margin-right: 10px;
            position: relative;
            width: calc(25% - 10px);
        }
        &__button {
            position: absolute;
            width: 100%;
            cursor: pointer;
            height: 100%;
            opacity: 0;
        }
        &__button:checked ~ .category__name {
            border: 2px solid #000;
            color: #000;
        }
        &__name {
            border: 2px solid #ccc;
            padding: 10px 15px;
            text-align: center;
            font-weight: 600;
            width: calc(100% - 30px);
            border-radius: 25px;
        }
    }
}