.b-logo {
    .logo {
        &__link {
            display: flex;
            align-items: center;
            font-weight: 800;
        }
        &__image { 
            margin-right: 7px;
        }
    }
}